body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
}

main {
    border-radius: 10px;
    width: 1024px;
    height: 100%;
}

.forgot-password-container {
    padding: 3rem;
    background-color: #F8F9FA;
    width: 50%;
}

.img-parent {
    width:50%;
}

.logo {
    height : 16rem;
    width: 16rem;
}

a {
    color: gray;
    display: flex;
    justify-content: center;
    text-decoration: none;

    &:hover {
        color: gray;
        text-decoration: underline;
    }
}

#resetBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the spinner */
    display: none; /* Initially hidden */
}

.resetLoader {
    width: 25px;
    height: 25px;
}

/* Show spinner and hide text when loading */
#resetBtn.loading {
    color: transparent; /* Hide button text when loading */
}

/* Display spinner when loading */
#resetBtn.loading .spinner {
    display: block;
}

@media (max-width: 900px) {
    .img-parent {
        width:40%;
        padding-inline: 1rem !important;
    }

    .logo {
        width: 85%;
    }

    .forgot-password-container {
        width: 60%;
    }

    @media (max-width: 816px) {
        .logo {
            width: 100%;
        }
    }

    @media (max-width:749px) {
        body {
            padding-inline: 0rem;
            padding-block: 0rem;
        }

        .img-parent {
            display: none !important;
        }

        .forgot-password-container {
            width: 100%;
        }
    }   

    @media (max-width: 547px) {
        .forgot-password-container {
            padding: 1.5rem;
        }
    }

    @media (max-width: 375px) {
        .forgot-password-container {
            padding-inline: 1rem;
            background-color:  #F8F9FA;
        }
    }

}